body.login {
    background-color: white;
}

body.login div#login form#loginform p.submit input#wp-submit {
    background-color: #10256C;
    color: #fff;
    text-decoration: none;
    border: 1px #10256C solid;
    transition: all 0.2s ease-in-out;
}

body.login div#login form#loginform p.submit input#wp-submit:hover {
    border: 1px #10256C solid;
    background-color: white;
    color: #10256C;
}


body.login div#login form#loginform {
    background-color: #fcf5ee;
}


body.login div#login p#nav a, body.login div#login p#backtoblog a {
    color: black;
    transition: 0.3s all ease-in-out;
}

body.login div#login p#nav a:hover, body.login div#login p#backtoblog a:hover {
	color: #D28D24
}

