// -----------------------------------------------------------------------------
// This file contains styles that are specific to work pages.
// -----------------------------------------------------------------------------


// Custom colored header for work pages
.work-header {

    .left-container .nametag {
        color: white;
    }

    .hamburger .bar {
        background: white;
    }

    .nav-content a {
        color: white;
        z-index: 10;
    }
}

.work-pages-main {

    width: 90%;

    @media (min-width: 550px) {
        width: 100%;
    }


}

.hero-banner {

    position: relative;
    overflow: hidden;
    position: relative;
    z-index: 10;

    .hero-banner-content {
        max-width: 1200px;
        margin: 3rem auto;
        display: flex;
        justify-content: space-between;
        
    }
}

.hero-banner-text {
    position: relative;
    z-index: 50;
    width: 60%;


    h1, p {
        color: white;
        margin: 0;
    }

    h1 {

        font-size: 2rem;

        @media (min-width: 650px) {
            font-size: 3.5rem;
        }

        @include respond-to('large') {
            font-size: 5rem;
        }

    }

    p {
        font-weight: 200;

        @media (min-width:650px) {
            font-size: 1.5rem;
        }

        @include respond-to('large') {
            font-size: 2rem;
        }
    }

    a {
        display: block;
        width: 140px;
        text-align: center;
        border: 1px solid #003EDC;
        border-radius: 6px;
        padding: 12px 0;
        color: white;
        background-color: #003EDC;
        font-family: $header-font-stack;
        margin-top: 4rem;
        font-size: 1rem;

    }
}


.split-content {

    @media (min-width: 850px) {
        display: flex;
        justify-content: space-between;
    
        .split-content-left {
            width: 40%;
        }
    
        .split-content-right {
            width: 55%;
        }
    }

    @media (min-width: 1200px) {
        .split-content-left {
            width: 35%;
        }
    
        .split-content-right {
            width: 60%;
        }
    }

}

.split-content-left {

    h2 {
        font-size: 2.3rem;
    }

}

.split-content-right {

    h2 {
        font-size: 1.8rem;
    }
    
    .work-pages-icons {
        margin-bottom: 3rem;
    }

    .work-page-icon {
        margin-bottom: 22px;
        width: 40%;
    }

    p {
        margin: 0;
        // align-content: center;
        // text-align: center;
        // vertical-align: middle;
        line-height: 40px;
    }

    .work-page-icon {
        display: flex;
        max-width: 120px;
    }
}


// Table of Contents

.toc {
    background: #f9f9f9;
    border: 1px solid #aaa;
    display: table;
    margin-bottom: 1em;
    margin: 3rem auto 0rem;
    padding: 20px 60px;
    width: 100%;

    @media (min-width: 850px) {
        margin-left: 0;
    }

    @media (min-width: 550px) {
        padding: 30px 80px;
        width: 80%;
        max-width: 400px;
    }

    @media (min-width: 850px) {
        width: 100%;
    }
}

.toc-content {
    padding: 0;
}

.toc-title {
    font-weight: 700;
    text-align: center;
}

.toc li {
    padding-bottom: 8px;
    font-weight: 500;
    // list-style: none;
    line-height: 2rem;
}


.toc-sub-content li {
    font-weight: 400;
    color: grey;
}

.toc-section {
    margin-bottom: 8px;
    line-height: 1.4;
}

.toc-section:nth-child(1) {
    margin-top: 30px;
}


.overview {

    margin-bottom: 3rem;

    h2 {
        margin: 2rem 0 1rem;
    }

    @media (min-width: 850px) {
        margin-top: 3rem;
    }
}

.work-pages-icons {
    
    a {
        margin-right: 18px;

        .fab {
            color: black;
            margin: 0;
        }

    }
}

