// -----------------------------------------------------------------------------
// This file contains styles that are specific to work pages.
// -----------------------------------------------------------------------------


// Custom colored header for work pages
.work-header {

    .left-container .nametag {
        color: white;
    }

    .hamburger .bar {
        background: white;
    }

    .nav-content a {
        color: white;
        z-index: 10;
    }
}

.work-pages-main {



    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
    }
    
    li {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .split-content-left {

        h2 {
            font-size: 2.3rem;
        }
    
    }
    
    .split-content-right {
    
    
        .work-pages-icons {

            margin-bottom: 3rem;
        }
    
        .work-page-icon {
            margin-bottom: 22px;
            width: 40%;
        }
    
        .work-page-icon {
            display: flex;
            max-width: 120px;
        }
    }
}

.code-container {

    margin-top: 18px;
    margin-bottom:18px;

    pre {
        &::-webkit-scrollbar {
            background-color:#fff;
            width:16px;
            transition: 0.3s all ease-in-out;
        }

        &::-webkit-scrollbar-track {
            background-color:#fff
        }
        &::-webkit-scrollbar-track:hover {
            background-color:#f4f4f4
        }

        &::-webkit-scrollbar-thumb {
            background-color:#babac0;
            border-radius:16px;
            border:5px solid #fff
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color:#a0a0a5;
            border:4px solid #f4f4f4
        }

        &::-webkit-scrollbar-button {display:none}
            }
    
    code {
        font-size: 16px;
    }

    .code-description {
        font-weight: 300;
        font-style: italic;
        font-size: 12px;
    }



}


.hero-banner {

    position: relative;
    overflow: hidden;
    position: relative;
    z-index: 10;

    .hero-banner-content {
        max-width: 1200px;
        margin: 3rem auto;
        display: flex;
        justify-content: space-between;
        
    }
}

.hero-banner-text {
    position: relative;
    z-index: 50;
    width: 60%;


    h1, p {
        color: white;
        margin: 0;
    }

    h1 {

        font-size: 2rem;

        @media (min-width: 650px) {
            font-size: 3.5rem;
        }

        @include respond-to('large') {
            font-size: 5rem;
        }

    }

    p {
        font-weight: 200;

        @media (min-width:650px) {
            font-size: 1.5rem;
        }

        @include respond-to('large') {
            font-size: 2rem;
        }
    }

    a {
        display: block;
        width: 140px;
        text-align: center;
        border: 1px solid #003EDC;
        border-radius: 6px;
        padding: 12px 0;
        color: white;
        background-color: #003EDC;
        font-family: $header-font-stack;
        margin-top: 4rem;
        font-size: 1rem;

    }
}


.split-content {

    @media (min-width: 850px) {
        display: flex;
        justify-content: space-between;
    
        .split-content-left {
            width: 40%;
        }
    
        .split-content-right {
            width: 55%;
        }
    }

    @media (min-width: 1200px) {
        .split-content-left {
            width: 35%;
        }
    
        .split-content-right {
            width: 60%;
        }
    }

}




// Table of Contents

.toc {
    background: #f9f9f9;
    border: 1px solid #aaa;
    display: table;
    margin: 3rem auto 0rem;
    padding: 20px 60px;
    max-width: 600px;
    

    @media (min-width: 850px) {
        margin-left: 0;
    }

}

.toc-content {
    padding: 0;
    list-style-position: inside;
}

.toc-title {
    font-weight: 700;
    text-align: center;
}

.toc li {
    padding-bottom: 4px;
    font-weight: 500;
    line-height: 2rem;
    font-size: 18px;
}


.toc-sub-content li {
    font-weight: 300;
}

.toc-section {
    margin-bottom: 8px;
    line-height: 1.4;
}

.toc-section:nth-child(1) {
    margin-top: 30px;
}


.work-overview {

    margin-bottom: 3rem;

    h2 {
        margin: 2rem 0 1rem;
    }

    @media (min-width: 850px) {
        margin-top: 3rem;
    }
}

.work-pages-icons {
    
    span {
        margin-right: 32px;

        .fab {
            color: black;
            margin: 0;
        }

    }
}


