
.token-header {
    background-color: #3b2541;
}


.hero-banner-token {

    background-color: #3b2541;


    .hero-banner-image {
        top: -18px;
        z-index: 5;
        width: 400px;
        left: 50%;
        overflow-y: hidden;
    }

}