<footer class="post-footer">
    <p class="copyright">&copy; 2021 Wesley Ting</p>

    <div class="social-container">
        <a href="https://www.linkedin.com/in/wesleytingdev/" target="_blank" rel="noopener"><div class="visually-hidden">LinkedIn Link</div><i class="fab fa-linkedin fa-lg"></i></a>
        <a href="https://github.com/WesleyTing" target="_blank" rel="noopener"><div class="visually-hidden">Github Link</div><i class="fab fa-github-square fa-lg"></i></a>
        <a href="https://codepen.io/wesleyting" target="_blank" rel="noopener"><div class="visually-hidden">Codepen Link</div><i class="fab fa-codepen"></i></a>
    </div>
  
</footer>