<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wesley Ting | Blog</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/main.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/images/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet">

    <meta property="og:title" content="Wesley Ting | Web Developer" />
    <meta property="og:type" content="portfolio" />
    <meta property="og:image" content="https://www.wesleyting.com/images/my-photo.jpg" />
    <meta property="og:url" content="https://www.wesleyting.com/" />
    <meta property="og:description" content="I'm a front-end web developer and designer based out of BC, Vancouver." />

    <meta name="description" content="I'm a front-end web developer and designer based out of BC, Vancouver.">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Wesley Ting">
</head>