// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.intro {

    margin-top: 2rem;
    margin-bottom: 4rem;
    
    @media (min-width: 950px) {      
        margin-top: 5rem;
        margin-bottom: 6rem;


    }

    @media (min-width: 1030px) {
        .narrow {
            display: block;
        }
    }



    .intro-name {
        margin-bottom: 10px;
        font-weight: 500;
    }

    .intro-title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: 600;

        @media (min-width: 400px) {
            font-size: 26px;
        }

        @media (min-width: 500px) {
            font-size: 32px;
        }

        @media (min-width: 600px) {
            font-size: 38px;
        }

        @media (min-width: 950px) {
            font-size: 52px;
        }
    }

    .intro-description {
        margin: 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;

        @media (min-width:500px) {
            font-size: 22px;
        }

        @media (min-width: 600px) {
            font-size: 26px;
        }

        @media (min-width: 950px) {
            font-size: 28px;
        }
    }
}

.recent-projects {
    margin-bottom: 3rem;
}


