body,
button,
input,
select,
optgroup,
textarea,
footer {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

h1 {
	@include headerUnderline;
	
	&:after {
		@include goldUnderline;
	}
}

h1, h2, h3 {
	font-family: $headerFont;
}

@import "headings";
@import "copy";
