@use '../../abstracts/variables/structure';

.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.entry-title {
	a {

		&:hover {
			color: $gold;
		}
	}
}

// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {

	.gallery-columns-#{$i} {
		grid-template-columns: repeat($i, 1fr);
	}
}

.gallery-caption {
	display: block;
}

// Gallery Page Base
.entry-content {
	margin: 1rem 0;
	
	.series-quick-view {
		a {
			text-decoration: none;
		}
		.series-img-wrapper {
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			img {
				padding-bottom: $gallery_th_margin *1px;
			}
		}
		.entry-title {
			margin: 0.4rem 0rem 2rem;
		}
	}
}

// modal.js specific CSS
.modal-backdrop {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.92);
    z-index:800;
}

div[class^="modal-box-"] {
    display: none;
    position: fixed;
    top: 50%;
	left: 50%;
	padding: 0 0.6em;
	transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0em 0em 1em 0.2em rgba(0,0,0,0.4);
	z-index: 801;
	max-height: 100%;
	
	.modal-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.modal-cls {
			display: flex;
			align-items: end;
			justify-content: flex-end;
		
			.cls {
				line-height: 2em;
				padding: 0.6rem 0.6rem 0.6rem;
		
				&:hover {
					background: rgba(255,255,255,0.8);
					cursor:pointer;
				}
			}
		}

		.modal-content {
			overflow: hidden auto;
			min-width: 80vw;
			width: auto;
			height: auto;
			padding: 10px;

			p {
				font-size: 18px;
				padding-top: 20px;
			}

			figure {
				display: table;
				width: auto;
				margin: 0;
				padding: 0 calc(0.6rem + 16px);

				img {
					display: block;
					width: auto;
				}

				figcaption {
					display: table-caption;
					caption-side: bottom;
					padding: 20px calc(0.6rem + 16px) 20px;

					.modal-title-wrapper {
						display: flex;
						justify-content: space-between;
						margin: 1rem 0;

						h3 {
							margin: 0;
							font-size: 25px;
						}

						.modal-social-wrapper {
							display: flex;
							justify-content: space-between;

							.a-tw-btn, .div-fb-btn {
								display: flex;
								justify-content: center;
								align-items: center;
								width: 32px;
								height: 32px;
								margin-left: 15px;

								.tw-svg, .fb-svg { transition: fill 0.4s ease-in-out; }
								.tw-svg:hover {	fill:#1b95e0; }								
								.fb-svg:hover { fill:#4267B2; }
							}

							.a-fb-btn {
								display: flex;
								justify-content: center;
								align-items: center;
							}
						}
					}
				}
			}
		}
	}
}

// Isotope Grid
.grid {	width: 100%; }
.grid-item { margin-bottom: $gallery_th_margin *1px; }
.grid-item img, img[class^='fig-mdl-img-'] {
	display: block;
	width: 100%;
}

.grid-item img {
	transition: transform 0.3s ease-in-out;

	&:hover {
		object-fit: cover;
		transform: scale(0.95);
		cursor: pointer;
	}
}

// Gallery Media Queries
@media screen and (min-width: 480px) {
	.entry-content {
		.series-quick-view {	
			.series-img-wrapper {
				img {
					width: calc(calc(calc(100vw - 5rem) / 3) - calc(40px / 3));
					height: auto;
					max-width: initial;
					padding-bottom: 0px;
					margin-right: $gallery_th_margin *1px;
					&:last-child {
						margin-right: 0px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 640px) {
	div[class^="modal-box-"] {
		.modal-wrapper {
			.modal-content {
				min-width: 0vw;
				max-height: 80vh;
				width: auto;
			}
		}
	}
}

@media screen and (min-width: 800px) {
	.post-type-archive-hb-gallery {
		.site-main {
			.gallery-tax-name {
				margin-left: 0;
			}

			.entry-content {
				margin: 0;

				.series-img-wrapper {
					width: 100%;

					img {
						max-width: calc(calc(100% - 40px) / 3);
					}
				}
			}
		}
	}
	
	.grid {
		width: 100%;
		margin: 0 auto;
		.grid-item {
			max-width: calc(calc(100% - 40px) / 3);
		}
	}
}
