.about-banner {

    text-align: center;

    
    img {

        margin-top: 1.5rem;
    }
}

.artist-statement, .biography {

    width: 100%;
    margin: 0 auto 2rem;
    line-height: 1.8;
    max-width: 800px;

    p {
        margin: 0;
        text-align: justify;
    }

    .about-title, .about-biography {
        text-align: center;
        font-size: 1rem;

        @media (min-width: 400px) {
            font-size: 1.5rem;
        }
    }
}

.cv {
    .cv-cta {
        margin: 6rem auto;
        text-align: center;
    }
}

