.site-main.events-wrapper {
    max-width: 550px;
}
.events-content {
    margin: 10px auto 0;
    text-align: center;
}
 
.evt-header {
    @include headerUnderline;
}

.evt-header::after {
    @include goldUnderline;
}

.read-more {
    background-color: $darkBlue;
    padding: 10px 25px;
    position: absolute;
    left: 35%;
    color: $white;
    text-decoration: none;
    margin: 20px 0;
    border: 1px $darkBlue solid;
    transition: all 0.2s ease-in-out;

    &:hover {
        border: 1px $darkBlue solid;
        background-color: white;
        color: $darkBlue;

    }
}

.evt-info {

    border: $peach 1px solid;
    background-color: $peach;
    padding: 25px 25px 60px 25px;
    margin: 0 auto;
    position: relative;
    left: 0%;
    top: -55px;
    max-width: 85%;

    h2 {
        font-size: 17px;
        margin: 0;

        a {
            text-decoration: none;
            color: black;
        }
    }

    p {
        font-size: 15px;
        position: relative;
    }

}

.widget-area {
    display: none;

    a:hover {
        color: $gold;
        transition: ease-in-out .2s;
    }
}

.evt-page-link {
    color: black;
    text-decoration: none;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 70px;
    font-family: $contentFont;
    text-transform: uppercase;
    transition: .2s all ease-in-out;
 

    &:hover {
        color: $gold;
       
    }
}

@media(min-width: 800px) {
    .site-main.events-wrapper {
        max-width: 550px;
    }
}

@media (min-width: 940px) {
    .site-main.events-wrapper {
        max-width: 1100px;
    }

    .events-content {
        text-align: left;
    }

    .evt-info {
        left: 100px;
    }

    .widget-area {
        display: block;
        margin-left: 50px;
        padding-left: 25px;

        .widget-title {
            margin: 0 auto 10px;
        }

        ul {
            margin-left: 0;
            padding-bottom: 30px;
        }

        li {
            padding-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    .events-content {
        max-width: 600px;
        margin: 20px 0;
    }

    .events-wrapper {
        padding: 0 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header"
        "main main sidebar"
        "past past past";
    }

    .evt-header {
        grid-area: header;
    }

    .events-section {
        grid-area: main;
    }

    .widget-area {
        grid-area: sidebar;
    }

    .evt-page-link {
        grid-area: past;
    }
}
