.links-section {
    text-align: center;

    h2 {
        margin: 10px 0;
        font-size: 28px;
        text-transform: uppercase;
        @include headerUnderline;
    }

    h2::after {
        @include goldUnderline;
    }

   
    p {
        margin: 5px 0 50px 0;
        font-size: 17px;
    }

    .link-desc {
        text-align: justify;
    }

}

.single-link {
    text-align: center;
    margin-bottom: 50px;

    h3 {
        font-size: 20px;
        margin: 5px 0 10px 0;
    }

    p {
        font-size: 14px;
        line-height: 1.8em;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 550px) {
    .links-wrapper {
        max-width: 550px;
        margin: auto;
    }
}

@media (min-width: 900px) {

    .links-wrapper {
        max-width: 1200px;
    }

    .all-links {
        display: flex;
        justify-content: space-evenly;
    }

    .single-link {
        max-width: 30%;
    }
}