.hb-events {
    margin: auto;
}

.entry-content.single-evt-content {
    margin: auto;
    max-width: 700px;
}

.single-evt-header {
    font-size: 23px;

    &:after {
        border-bottom: none;
        background: none;
    }
}

.single-evt-link {
    margin: 75px 0;
    text-align: center;
    
    a {
        text-decoration: none;
        background-color: $darkBlue;
        padding: 18px 30px;
        color: white;
        border: 1px $darkBlue solid;
        transition: all ease-in-out 0.2s;

        &:hover {
            border: 1px $darkBlue solid;
            background-color: white;
            color: $darkBlue;
        }
    }
}

.single-evt-info {

    p {
        text-align: justify;
        padding-top: 12px;
    }
}

.single-evt-desc {
    padding-top: 12px;
}

.nav-previous, .nav-next {
    margin-top: 40px;

    a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 5px;
    }
}


.nav-previous a:hover,
.nav-next a:hover {
    color: $gold;
}


@media (min-width: 750px) {
    .single-evt-header {
        font-size: 30px;
    }

    .single-evt-info {
        p {
            font-size: 19px;
        }
    }
}
